header
    div.logo-wrap
        a.logo-link(href="/home")
    <!-- <img class="" src="" alt="" /> -->
    nav.flex-nav
        button#drawer-toggle.pull-right(type="button") Open Menu
        span
        asp:ContentPlaceHolder#cphMainMenu(runat="server" visible="true")