<!-- Choose Animation-Direction:  -->
<!-- slide-left / slide-right / push-left / push-right / over-left / over-right -->
nav#sidecar.slide-right
	button.close-drawer.pull-right(type="button") Close
	<%=Me.GetMenuHTML("main")%>